.header {
  position: relative;
  grid-area: h;
  background-color: aqua;
  border-radius: 20px;
  /* clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%); */
 }
 .header img {
   position: absolute;
   width: 60px;
   margin: 10px 0 0 35px;
 }