
.nav {
  grid-area: n;
  background-color: aqua;
  border-radius: 20px;
  font-size: 22px;

  }
  li {
  list-style-type: none;
  margin: 10px 20px 20px -10px;
  
  }

  .nav a {
    color: black;
  }

  .settings {
    margin-top: 50px;
  }


  