
.nav {
  grid-area: n;
  background-color: aqua;
  border-radius: 20px;
  font-size: 22px;

  }
  li {
  list-style-type: none;
  margin: 10px 20px 20px -10px;
  
  }

  .nav a {
    color: black;
    font-size: 24px;
	line-height: 26px;
	color: #333;
	background:linear-gradient(currentColor, currentColor) 50% 100% no-repeat;
	background-size:0 1px;
	transition: background 200ms ease 0s;
    text-decoration:none;
    /* border-bottom: solid 1px black; */
  }
  .nav a:hover {
    background-size:100% 1px;
  }
  .nav .active {
    color: azure;
  }

  .settings {
    margin-top: 50px;
  }


  